<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DjangoTutorial</title>
  </head>
  <header>
    {% include 'navbar.html' %} <!--will be included in every page--> 

    <!--Django flash messages. Under main.html navbar which will be included in all templates that inherit this-->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <hr>
  </header>
  <body>
    {% block content %}

    {% endblock %}
  </body>
</html>