{% extends 'main.html' %}

{% block content %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <style>
      .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
      }
    </style>
  </head>
  <body>
    <header>
        
    </header>
    <main class="home-container">
      <div>
        <h2>Browse Topics</h2>
        <hr>

        <nav>
          <!--Reset the URL query when a user selects the All link-->
          <a href="{% url 'home' %}">All</a>
        </nav>

        {% for topic in topics %}
        <nav>
          <!--Link adds a query to the URL specifying the topic's name which we can get-->
          <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
        </nav>
        {% endfor %}
      </div>

      <div>
        <h3>{{room_count}} rooms available</h3>
        <a href="{% url 'create-room' %}">Create Room</a>

        <div>
            {% for room in rooms %}
            {% if request.user == room.host %}
            <a href="{% url 'update-room' room.id %}">Edit</a>
            <a href="{% url 'delete-room' room.id %}">Delete</a>
            {% endif %}
            
            <span>@{{room.host.username}}</span>

            <!--href will generate a link along the lines of website/room/1 for example-->
            <p>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></p>
            <small>{{room.topic.name}}</small>
            <hr>

            {% endfor %}
        </div>
      </div>
    </main>
    <footer>

    </footer>
  </body>
</html>

{% endblock %}